@model BankingSystem.DTO.RegistrationModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-action="Register" method="post">
             @* <h2>Register</h2 *@
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="username" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="username"></label>
                <span asp-validation-for="username" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="email" class="form-control" autocomplete="email" aria-required="true" />
                <label asp-for="email"></label>
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="password" type="password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="password"></label>
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }

